$colors: (
    bg-color: #f0ffff,
    border-color: #000000,
    footer-color: #87CEEB,
    text-color: #ffffff
);

@function color($color-name) {
    @return map-get($colors, $color-name)
}

body {
    background-color: color(bg-color);
}